<%= form_with(model: transaction, local: true) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :transaction_date %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :transaction_description %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :transaction_price %>
  </div>

  <div class="field">
    <%= form.label :category %>
    <%= form.select :category_id, options_for_select(Category.all.map{|c|[c.title, c.id]}) %>
    <%# <%= form.text_field :category, id: :transaction_category %1> %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
