<h1>Statistics</h1>
<div class="text-danger">Work in progress</div>

<table class="table table-sm table-hover">
  <thead>
    <%# byebug %>
    <tr>
      <th>Category</th>
      <th>Total</th>
      <th>Yuki</th>
      <th>Seb</th>
      <% @categories.first[:users] do |user| %>
        <th><%= user[0] %></th>
      <% end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr style="background-color:<%= category[:color] %>;">
        <th scope="row"><%= category[:category] %></th>
        <td>$<%= '%.2f' % category[:total] %></td>
        <% category[:users].each do |user| %>
          <td>$<%= '%.2f' % user[1] %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
Total spent: $<%= @total_spent %>
