<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %> - LAB</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Life Account Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item <%= "active" if @page_title.include? "Transaction" %>">
              <a class="nav-link" href="<%= transactions_path %>">Transactions<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= "active" if @page_title.include? "Categories" %>">
            <a class="nav-link" href="#">Categories</a>
          </li>
          <li class="nav-item <%= "active" if @page_title.include? "User" %>">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item <%= "active" if @page_title.include? "To-do" %>">
            <a class="nav-link" href="#">To-dos</a>
          </li>
          <li class="nav-item <%= "active" if @page_title.include? "Statistic" %>">
            <a class="nav-link" href="<%= statistics_path %>">Statistics</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <br>
      <% if notice %>
        <p class="alert-primary"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    <end>
  </body>
</html>
