<!DOCTYPE html>
<html>
  <head>
    <title><%= controller_name.humanize %> - LAB</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Life Account Book</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item <%= "active" if controller_name == "transactions" && action_name != "statistics" %>">
              <a class="nav-link" href="<%= transactions_path %>">Transactions<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item <%= "active" if controller_name == "categories" %>">
            <a class="nav-link" href="<%= categories_path %>">Categories</a>
          </li>
          <li class="nav-item <%= "active" if controller_name == "users" %>">
            <a class="nav-link" href="#">Users</a>
          </li>
          <li class="nav-item <%= "active" if controller_name == "todos" %>">
            <a class="nav-link" href="<%= todos_path %>">To-dos</a>
          </li>
          <li class="nav-item <%= "active" if action_name == "statistics" %>">
            <a class="nav-link" href="<%= statistics_path %>">Statistics</a>
          </li>
        </ul>
      </div>
      <%= link_to('Log Out', destroy_user_session_path, method: "delete", class: "btn btn-danger button-style button-size float-right") if user_signed_in? %>
    </nav>
    <div class="container">
      <br>
      <% if notice %>
        <p class="alert-primary"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert-danger"><%= alert %></p>
      <% end %>
      <%= yield %>
    <end>
  </body>
</html>
